<h2><a id="back">Activity Feed</a>{{sha}}</h2>

<div class="detail-view">

{{#if commit}}

  <div class="head">
  
    {{#if committer}}
      {{#with committer}}
        <img src='{{avatar_url}}' class="avatar" />
        <p>
          <strong>{{login}}</strong> committed <a class='sha'>{{../sha}}</a>
          <small>&#8220;{{../commit/message}}&#8221;</small>
	      </p>
      {{/with}}
    {{/if}}
        
    {{#if stats}}
      {{#with stats}}
        <em>{{additions}} additions, {{deletions}} deletions</em>
      {{/with}}
    {{/if}}
    
  </div>

  {{#if files}}
    <div class="diff">
    {{#each files}}
      <strong>{{filename}}</strong>
      {{#if patch }}
        <commit>{{{rawPatch patch}}}</commit>
      {{/if}}
    {{/each}}
    </div>
  {{/if}}
  
  {{#if comments}}}
    <div class='comments'>
      {{#each comments}}
        <div class='comment'>
          <img src='{{user/avatar_url}}' /> {{user/login}}: {{{markdown body}}}
        </div>
      {{/each}}
    </div>
  {{/if}}
  
{{else}}
  <div class="loading">
    <div class="spinner">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
      <div class="bar4"></div>
      <div class="bar5"></div>
      <div class="bar6"></div>
      <div class="bar7"></div>
      <div class="bar8"></div>
      <div class="bar9"></div>
      <div class="bar10"></div>
      <div class="bar11"></div>
      <div class="bar12"></div>
    </div>
  </div>
{{/if}}

</div>
