<!DOCTYPE html>
<title>New application</title>

<%= javascript_includes %>
<link href='/style.css' rel='stylesheet' type='text/css'>

<ul>
  <% repos.each do |repo| %>
    <li><%= repo.name %></li>
  <% end %>
</ul>
