<app>
  <list id="list"></list>
  
  <div id="right">
    <detail id="feed"></detail>
    <detail id="detail"></detail>
  </div>
</app>

<%= javascript_includes %>
<script src='/templates.js'></script>
<script>window.repoSeedData = <%= repo_seed_data %>;</script>
