<!DOCTYPE html>
<title>New application</title>

<%= javascript_includes %>
<link href='/style.css' rel='stylesheet' type='text/css'>

<h1>New application</h1>
<p>Hello from your new app.</p>

<button>Hey there</button>
