<!DOCTYPE html SYSTEM>
<html>

<head>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="assets/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
  
  <script type="text/javascript" src="assets/js/libraries/1_jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="assets/js/libraries/2_underscore.js"></script>
  <script type="text/javascript" src="assets/js/libraries/3_backbone.js"></script>
  <script type="text/javascript" src="assets/js/libraries/4_mustache.js"></script>
  <script type="text/javascript" src="assets/js/app.js"></script>
  <script type="text/javascript" src="assets/js/views/events/comment.js"></script>
  <script type="text/javascript" src="assets/js/views/events/commit.js"></script>
  <script type="text/javascript" src="assets/js/views/events/fork.js"></script>
  <script type="text/javascript" src="assets/js/views/events/merge.js"></script>
  <script type="text/javascript" src="assets/js/views/events/pull_request.js"></script>
  <script type="text/javascript" src="assets/js/views/events/push.js"></script>
  <script type="text/javascript" src="assets/js/views/listView.js"></script>
  <script type="text/javascript" src="assets/js/views/repoListView.js"></script>
  <script type="text/javascript" src="assets/js/views/StatusBoardApp.js"></script>
  <script type="text/javascript" src="assets/js/views/templates/listView.js"></script>
  <script type="text/javascript" src="assets/js/views/templates/repoListView.js"></script>
  
  <link rel="shortcut icon" href="assets/favicon.ico" />
  <link rel="apple-touch-icon" href="assets/apple-touch-icon.png" />
  
  <title>New Project</title>
		
</head>

<body>

<app>
  <list id="list"></list>
  <detail id="detail"></detail>
</app>

</body>

</html>