<!DOCTYPE html>
<title>GitHub Repos</title>
<script>
  if (navigator.userAgent.match(/iPhone/i) || navigator.userAgent.match(/iPad/i)) {
    var viewportmeta = document.querySelector('meta[name="viewport"]');
    if (viewportmeta) {
      viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0';
      document.body.addEventListener('gesturestart', function () {
        viewportmeta.content = 'width=device-width, minimum-scale=1.0, maximum-scale=1.0';
      }, false);
    }
  }
</script>

<%= javascript_includes %>
<script src='/templates.js'></script>
<link href='/style.css' rel='stylesheet' type='text/css'>

<%= yield %>
