<!DOCTYPE html>
<title>GitHub Repos</title>
<meta name = "viewport" content = "initial-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width">

<%= javascript_includes %>
<script src='/templates.js'></script>
<link href='/style.css' rel='stylesheet' type='text/css'>

<%= yield %>
