/* @override 
	http://leppard.dev/style.css */

/* Write your CSS! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 254, 0.5);
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#list, #feed, #detail {
  height: 100%;
  display: block;
  float: left;
  overflow-y: auto;
  position: relative;
}

#list {
  width: 30%;
  border-right: 1px solid #000;
}

#feed {
  width: 70%;
}

#detail {
  width: 70%;
}

h2 {
  font-size: 20px;
  color: #69757a;
  text-align: center;
  height: 43px;
  line-height: 43px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#d9e0e4), to(#fbfbfd));
  background-image: -moz-linear-gradient(90deg, #d9e0e4 0%, #fbfbfd 100%);
  border-bottom: 1px solid #9ca7ad;
  -moz-box-shadow: 0 1px 3px #d9e0e3;
  -webkit-box-shadow: 0 1px 3px #d9e0e3;
  box-shadow: 0 1px 3px #d9e0e3;
  position: relative;
  z-index: 3;
}

#detail h2 a {
  border-width: 0px 7px 0px 14px;
  -moz-border-image: url(/images/nav.png) 0 7 0 14 repeat round;
  -webkit-border-image: url(/images/nav.png) 0 7 0 14 repeat round;
  -o-border-image: url(/images/nav.png) 0 7 0 14 repeat round;
  border-image: url(/images/nav.png) 0 7 0 14 fill repeat round;
  position: absolute;
  height: 30px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  font-size: 12px;
  line-height: 30px;
  top: 7px;
  left: 5px;
  cursor: pointer;
}

h3 {
  font-size: 15px;
  color: #69757a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(241, 243, 244, 0.9)), to(rgba(218, 224, 228, 0.9)));
  background-image: -moz-linear-gradient(90deg, rgba(241, 243, 244, 0.9) 0%, rgba(218, 224, 228, 0.9) 100%);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.35);
  border-top: 1px solid #b2bbc2;
  border-bottom: 1px solid #c0c9d1;
  position: relative;
  z-index: 2;
  clear: both;
  top: -1px;
  margin-bottom: -1px;
  padding-top: 2px;
  padding-bottom: 4px;
  padding-left: 8px;
  line-height: 18px;
}

#events h3 {
  font-weight: normal;
  font-style: normal;
  position: relative;
  padding-left: 28px;
}

#events h3::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 17px;
  top: 3px;
  background-image: url(/images/icon-branch@2x.png);
  background-size: 15px 17px;
  left: 8px;
}

#events h3 strong {
  color: #0088df;
  line-height: 13px;
}

h3 b {
  color: #222;
  line-height: 13px;
}

#list > div {
  height: 100%;
}

#list ul {
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  min-height: 100%;
}

#list ul li {
  cursor: pointer;
  list-style-type: none;
  width: 100%;
  float: left;
  clear: both;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f3f2), to(white));
  background-image: -moz-linear-gradient(90deg, #f2f3f2 0%, white 100%);
  -moz-box-shadow: inset 0 -1px 0 #d7dee4;
  -webkit-box-shadow: inset 0 -1px 0 #d7dee4;
  box-shadow: inset 0 -1px 0 #d7dee4;
  font-weight: bold;
}

#list ul li a {
  display: block;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 10px;
  height: 54px;
  position: relative;
}

#list ul li.selected a {
  color: #0088df;
}

#list ul li a:before, #list ul li a:after {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  top: 13px;
  right: 14px;
  background-image: url(/images/select-empty@2x.png);
  background-size: 29px 29px;
}

#list h2 a {
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  top: 8px;
  right: 14px;
  background-image: url(/images/select-empty-all@2x.png);
  background-size: 29px 29px;
  text-indent: -9999px;
}

#list ul li.selected a:after {
  background-image: url(/images/select-active@2x.png);
  background-size: 29px 29px;
}

#events div {
  background-color: #fff;
  line-height: 20px;
  border-bottom: 1px solid #ebeeef;
  padding: 8px 14px 10px 56px;
  position: relative;
}

img.avatar {
  width: 32px;
  height: 32px;
  border: 2px solid #fff;
  border-radius: 4px;
  -moz-box-shadow: 0 0 1px rgba(104, 116, 122, 0.2), 0 1px 3px rgba(104, 116, 122, 0.6);
  -webkit-box-shadow: 0 0 1px rgba(104, 116, 122, 0.2), 0 1px 3px rgba(104, 116, 122, 0.6);
  box-shadow: 0 0 1px rgba(104, 116, 122, 0.2), 0 1px 3px rgba(104, 116, 122, 0.6);
  position: absolute;
  top: 13px;
  left: 14px;
}

#events ul {
  list-style: none;
}

#events li {
  color: #68747a;
  font-size: 13px;
}

#events li a.sha {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#008ae0), to(#49aae9));
  background-image: -moz-linear-gradient(90deg, #008ae0 0%, #49aae9 100%);
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border-radius: 30px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 1px;
  margin-right: 4px;
}

#events strong a {
  color: #0088df;
  text-decoration: none;
}

#events time {
  color: #0088df;
  font-size: 15px;
  position: absolute;
  top: 9px;
  right: 14px;
}

#events p.comment {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f3f2), to(#fff));
  background-image: -moz-linear-gradient(90deg, #f2f3f2 0%, #fff 100%);
  -moz-box-shadow: inset 0 0 4px #ffffff, 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 4px #ffffff, 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 4px #ffffff, 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  font-size: 13px;
  color: #68747a;
  padding: 3px 8px;
  border-radius: 18px;
  position: relative;
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 3px;
}

#events p.comment::after {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  width: 12px;
  height: 13px;
  background: url(/images/comment@2x.png) no-repeat;
  background-size: 12px 13px;
}

.detail-view {
  position: absolute;
  min-height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

commit {
  white-space: pre;
  font-family: monospace;
}

commit span {
  padding: 2px;
  margin: none;
  float: left;
  clear: both;
}

commit .plus {
  background: rgba(0, 255, 0, 0.4);
}
  
commit .minus {
  background: rgba(255, 0, 0, 0.4);
}

form.login {
  background: url(/images/pattern@2x.png) repeat center top;
  width: 100%;
  height: 100%;
}

form.login fieldset {
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f2f3f2), to(#fff));
  background-image: -moz-linear-gradient(90deg, #f2f3f2 0%, #fff 100%);
  -moz-box-shadow: inset 0 0 4px #ffffff, 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: inset 0 0 4px #ffffff, 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 0 4px #ffffff, 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.25);
  border-style: none;
  border-radius: 6px;
  width: 300px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 200px;
  margin-top: -200px;
  margin-left: -150px;
}

form.login fieldset button {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0071e8), color-stop(0.489, #0685ea), color-stop(0.5, #098eec), to(#6cbaf3));
  background-image: -moz-linear-gradient(90deg, #0071e8 0%, #0685ea 48.9%, #098eec 50%, #6cbaf3 100%);
  color: #fff;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 -1px 0 rgba(0,0,0,.2);
  border-style: none;
  font: bold 15px/30px "Helvetica Neue", Helvetica, sans-serif;
  -moz-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 2px 24px 4px;
  cursor: pointer;
}

/* Spinner - 37Signals */

div.spinner {
  position: relative;
  width: 80px;
  height: 80px;
  display: inline-block;
}

div.spinner div {
  width: 12%;
  height: 26%;
  background: #fff;
  position: absolute;
  left: 44.5%;
  top: 37%;
  opacity: 0;
  -webkit-animation: fade 1s linear infinite;
  -webkit-border-radius: 50px;
  -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
}

div.spinner div.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s;}    
div.spinner div.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s;}
div.spinner div.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s;}
div.spinner div.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s;}
div.spinner div.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s;}
div.spinner div.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s;}
div.spinner div.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s;}
div.spinner div.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s;}
div.spinner div.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s;}
div.spinner div.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s;}
div.spinner div.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s;}
div.spinner div.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s;}

 @-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}

/* end basic spinner styles*/

div.loading {
  display: inline-block;
  background: rgba(0,0,0,0.6);
  -webkit-border-radius: 6px;
  position: absolute;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  padding-top: 11px;
  padding-left: 11px;
  margin-top: -30px;
  margin-left: -30px;
}

div.loading div.spinner {
  width: 40px;
  height: 40px;
}   
    
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  /* Styles for mobile */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles for tablet */

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  #detail h2 a {
    border-width: 0px 14px 0px 28px;
    -moz-border-image: url(/images/nav@2x.png) 0 14 0 28 repeat round;
    -webkit-border-image: url(/images/nav@2x.png) 0 14 0 28 repeat round;
    -o-border-image: url(/images/nav@2x.png) 0 14 0 28 repeat round;
    border-image: url(/images/nav@2x.png) 0 14 0 28 fill repeat round;
    position: absolute;
  }

}