/* Write your CSS! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: url(apple-touch-icon.png) no-repeat center center;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  /* Styles for mobile */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles for tablet */

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 72px 72px;
  }

}

html, body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

#list, #detail {
  height: 100%;
  display: block;
  float: left;
}

#list {
  background:  rgba(0,0,0,0.5);
  width: 30%;
}

#detail {
  background: rgba(0,0,0,0.2);
  width: 70%;
}

h2 {
  font-size: 10px;
}

#list ul {
  padding: 0;
}

#list ul li {
  cursor: pointer;
  list-style-type: none;
  width: 100%;
  float: left;
  clear: both;
  a {
    float: left;
    padding: 5px 0 5px 5px;
    width: 100%;
    &:hover {
      background: #ff99ff;
    }
  }
}

#list ul li.selected {
  background: rgb(255, 0, 255);
}